/* General elements styling */
/* 
html {
    min-width: 100vw;
    min-height: 100vh;
} */

body {
    margin: 10px;
    padding: 10px;
    width: 95vw;
    height: 87vh;
    background-image: url(./images/game-bg.png);
}

.info-bar {
    border-radius: 8px;
    min-width: 370px;
    /* width: 126vw; */
    height: 9%;
    padding: 0px 9px 0px 9px;
    display: flex;
    justify-content: space-between;
    background-color: #eee;
}

.game-container {
    margin: 0;
    width: 100%;
    height: 80%;
    min-height: 75vh;
    display: flex;
    justify-content: space-between;
}

.users-container {
    margin: 9px;
    padding: 3px;
    min-width: 170px;
}

.canvas-container {
    margin: 9px;
    padding: 2px;
    flex-grow: 1;
    max-width: 60vw;
    max-height: 80vh;
    background: white;
}

.colors {
    display: flex;
    list-style: none;
    background-color: rgba(104, 199, 236, 0.548);

    padding: 2vh;
    font-weight: 700;
    font-size: xx-large;
}
.colors li{
    margin: 3vh;
}


.chat-container {
    border-radius: 8px;
    margin: 9px 9px 0px 0px;
    padding: 10px;
    min-width: 250px;
    height: 90vh;
    background-color: #eee;
}

.messages-container {
    width: 100%;
    height: 80%;
    overflow: scroll;
}

.input-container {
    width: 95%;
    height: 15%;
}

#message-form {}

#message {
    margin-bottom: 15px;
}

.messages-list , .scores-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.messages-list li {
    padding: 5px 10px;
    background: lightgray;
}

.messages-list li:nth-child(odd) {
    background: #eee;
}

.messages-list li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.messages-list li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.scores-list li {
    padding: 5px 10px;
    background:blueviolet;
    color: whitesmoke;
    font-size: 1.2em;
}
.info-bar h2 {
    color: dimgray;
    align-self: center;
    margin-left: 1vw;
}

@media (max-width: 500px) {
    .info-bar {
        min-width: 400px;
        width: 750px;
    }
}