<div class="info-bar">

</div>
<div class="game-container">
    <div class="users-container">

    </div>
    <div class="canvas-container">
        <canvas id='can'>

        </canvas>
        <div id='colorSel' class="colors">

        </div>
    </div>
    <div class="chat-container">
        <div class="messages-container">
            <ul id="messages-list">

            </ul>
        </div>
        <div class="input-container">
            <form id='message-form' action="">
                <input id="message" autocomplete="off" /><button>Send</button>
            </form>
        </div>
    </div>
</div>