<div class="main-container">
    <h2 class="user-msg">Hello {{user}}</h2>
    <div class="info-bar">
        <div class="round">
            <h2 class='round'>Round 1 of 3</h2>
        </div>
        <div class="currentWord">
            <h2 class='currWord'> </h2>
        </div>
        <div class="score">
            <h2>0 points</h2>
        </div>
    
    </div>
    <div class="game-container">
        <div class="users-container">
            <ul id="users-list" class="messages-list">

            </ul>
        </div>
        <div class="canvas-container">
              <canvas class="whiteboard" ></canvas>
                <div class="colors">
                    <div class="color black"></div>
                    <div class="color red"></div>
                    <div class="color green"></div>
                    <div class="color blue"></div>
                    <div class="color yellow"></div>
                </div>
        </div>
        <div class="chat-container">
            <div class="messages-container">
                <ul id="messages-list" class="messages-list">

                </ul>
            </div>
            <div class="input-container">
                <form id='message-form' action="">
                    <input id="message" autocomplete="off" /><button>Send</button>
                </form>
            </div>
        </div>
    </div>
</div>