

   <form id ='form' action="">
      <input id="m" autocomplete="off" /><button>Send</button>

   <form class ='message-form' action="">
      <input class="message" autocomplete="off" /><button>Send</button>

    </form>